
workspace/

gradle/

\.idea/

gradlew\.bat

build/

out/

*.iml

\.gradle

src/main/java/me/melijn/jda/utils/Private.java
src/main/resources/youtube.properties

config.json
config_self.json
/avatar.png
/Melijn-2.0.0-all.jar
/config_local.json
