
workspace/

gradle/

\.idea/

\.gradle/

gradlew\.bat

build/

out/

gradlew

*.iml

src/main/java/me/melijn/jda/utils/Private.java
src/main/resources/youtube.properties

config.json
/avatar.png
/Melijn-2.0.0-all.jar
